@tailwind components;

@layer components {
    .SearchBar {
        @apply flex justify-between gap-4 items-center px-5 py-4 rounded-xl
        bg-white
        dark:bg-slate-700
        text-sky-600 dark:text-sky-500
        shadow-lg
    }

    .input {
        @apply w-full py-2 px-2 bg-transparent 
        text-slate-500 focus:text-slate-800 focus:outline-offset-1
        dark:text-slate-400 focus:dark:text-slate-100 focus:dark:outline-offset-1
    }
    
    .error {
        @apply text-sm whitespace-nowrap text-red-600
        dark:text-red-400
    }
}